* {
  box-sizing: border-box;
  }

body {
  position: relative;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
  }

  /* navigaatioboxin muotoilu */

  .box {
    height: 55px;
    width: 20%;
    color: aliceblue;
    display: inline-block;
    float: left;
    padding-top: 15px;
    padding-left: 50px;
    background: linear-gradient( #595d94, #6c6966);
    box-shadow: 5px 5px 8px #888888;
  }

  nav {
  width: 90%;
  margin: auto;
  }

#one:hover {
  font-weight: bold;
  }

#three:hover {
  font-weight: bold;
  }

#four:hover {
  font-weight: bold;
  }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.clear {
  clear: both;
}


/* mainoslauseen tyyli */

.teksti {
  position: absolute;
  top:60px;
  left: 12%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.gradient {
  background: linear-gradient( #4749d4, #8196a5);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


/* vanha päiväkirjamerkintä */

.old_diary {
  position: absolute;
  width: 40%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(236, 236, 236, 0.574);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 200px;
  left: 15%;
  margin-top: 10px;
}

.date {
  font-weight: bold;
  margin-bottom: 5px;
}

.weight, .sleepHours, .mood, .diaryLog {
  font-weight: bold;
}

/* uusi päiväkirja merkintä */

.form-card {
  width: 30%;
  position: absolute;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(236, 236, 236, 0.574);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 200px;
  left: 55%;
  margin-top: 10px;
}

#submitButton:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.diaryLog {
  margin-top: 10px;
  margin-bottom: 50px;
}


/* strength gym tieto osio */

img {
  float: left;
  padding-right: 30px;
  width: 50%;
  margin: 0 auto;
}

p {
  color: black;
}

main {
  background-image: url(img/background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  margin: auto;
  margin-top: 600px;
  width: 80%;
  padding-left: 5%;
  padding-right: 20%;
  margin-bottom: 100px;
  border-radius: 10px;
}


/* info osio ja footer */

.info-container {
  position: absolute;
  top: 1350px;
  left: 50%;
  width: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: rgba(236, 236, 236, 0.574);
  border-radius: 10px; /* Pyöristetyt reunat */
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Lisätty varjo */
  margin-bottom: 400px;
}


footer {
  margin-top: 100px;
  width: 100%;
  background: linear-gradient(to right, #a6a6a9, #f5e5d6);
  height: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: small;
  position: fixed;
  bottom: 0;
  left: 0;
}
